<center><h2>Machine Learning - Guess The Type Of Your Favourite Music</h2></center>
<center><img src="https://web.edu.hku.hk/assets/shared/img/page-logo.svg"></center>

<center>
  <form method="POST">

    <table border="1" style="background-color: aliceblue;" width="800">
      <tr>
        <td colspan="4" >Age:</td><td colspan="6" align="center"><input type="number" name="age" min="1" max="99"></td>
      </tr>
      <tr>
        <td colspan="4">Gender:(1 for male, 0 for female)</td><td colspan="6" align="center"><input type="number" name="gender" min="0" max="1"></td>
      </tr>
      <tr>
        <td colspan="4">Degree: (1 for degree, 2 for diploma, 3 for phd, 4 for master)</td><td colspan="6" align="center"><input type="number" name="degree" min="1" max="4"></td>
      </tr>
      <tr>
        <td colspan="4">Press the button to submit:</td><td colspan="6" align="center"><input type="submit"></td>
      </tr>
      <tr>
        <td colspan="10" align="center" bgcolor="darkgray">The result</td>
      </tr>
      <tr>
        <td colspan="10" align="center" bgcolor="gray"><label>{{ href2 }} </label></td>
      </tr>
    
    
    
    </table>


     
  </form>
</center>
